@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: #000;
}

h1, h4, p,
a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  display: inline-block;
  padding: 0.8rem 2.5rem;
  border: 1px solid #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  background-color: yellow;
  color: black;
}

.btn-light{
  background-color: transparent;
  color:white;
}

.btn:hover{
  transform: scale(1.2) rotate(10deg);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}